
<%= @post.user.name %>
<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url if @post.image? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= render 'likes/like_button',post: @post %>


<% if current_user == @post.user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>





<h2>コメント一覧</h2>
<% @comments.each do |c| %>
  <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= c.user.name%>
        </div>
        <div>
          <p><%= c.content %></p>
        </div>
      </div>
    </li>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>









</div>